<%- include('partials/header') %>
<link rel="stylesheet" href="stylesheets/user.css">
</head>

<body>
    <% include partials/github-badge %>
    <% include partials/menu %>

    <h1><%= userId %> </h1>
            <div id="kaltura-player" style="height:50vw;width:50vw;margin:auto;"></div>
    <br>

    <div>
        <%- include('user/posts', {entries: entries}) %>
    </div>

    <script type="text/javascript"
        src="https://cdnapisec.kaltura.com/p/<%=partnerId%>/embedPlaykitJs/uiconf_id/<%=playerId%>"></script>
    <script type="text/javascript">
        try {
            var player = KalturaPlayer.setup({
                targetId: "kaltura-player",
                provider: {
                    partnerId: <%= partnerId %>,
                    uiConfId: <%= playerId %>
                }
            });
        //load first entry in player
        player.loadMedia({ entryId: '<%= entries[0].id %>' });
        } catch (e) {
            console.error(e.message)
        }
    </script>

    <%- include('partials/footer') %>